{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>Om kursen</h1>
<div class="text">
    <img src="{{ asset('img/mvc.png') }}" alt="mvc" class="image">
    <div class="paragraphs">
        <p>
            Kursen mvc (v2) går igenom konceptet MVC: Model-view-controller med hjälp av objektorientering i PHP.
            Ramverket Symfony används för att åstadkomma detta. Med Symfony kan man bygga en webbplats via konceptet MVC samt det använder objektorienterad PHP, bra val.
        </p>
        <p>
            Git-länkar:
        </p>
        <ul>
            <li><a href="https://github.com/dbwebb-se/mvc">dbwebb kursrepo</a></li>
            <li><a href="https://github.com/chei21/dbwebb-mvc-v2">Mitt egna kursrepo</a></li>
        </ul>
    </div>
</div>
{% endblock %}
