{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>JSON routes</h1>
    <ul>
        <li>
            <a href="./api/quote">/api/quote</a>
        </li>
    </ul>
{% endblock %}