{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om Mig Själv</h1>
    <div class="text">
        <img src="{{ asset('img/me.jpg') }}" alt="me" class="image">
        <div class="paragraphs">
            <p>
                Hej! Mitt namn är Charlie Eliasson. Förutom mitt teknikintresse gällande datorer, mjukvara och nätverk gillar jag friluftsliv.
                Under uppväxten brukade jag följa med min farfar och fiska.
                Jag har även ett tidigt minne med min morfar där vi var ute på natten med en grupp fågelskådare och lockade på ugglearten Berguv.
                Med min familj har jag genom åren även varit ute på många äventyr, exempelvis fjällvandringar.
                Kanske är det detta som gett mig ett intresse för naturen.
            </p>
            <p>
                Mitt teknik intresse kom under tonåren, mina kompisar hade börjat spela datorspel och det var det ända de pratade om på rasterna i skolan.
                Eftersom jag ville vara med i diskussionerna tog jag mina sparpengar och köpte min första PC.
                Visst spelade jag en del, men det fanns även en fascination över hur tekniken fungerade.
                Tekniken bakom datorn och potentialen av vad man kan skapa med den blev ett stort intresse.
                Jag bestämde mig för att jag på något sätt vill jobba med denna tekniken i framtiden.
            </p>
            <p>
                Hösten 2023 påbörjade jag utbildningen Webbprogrammering på Blekinge Tekniska Högskola.
                Campus ligger i staden Karlskrona, en mycket fin och trivsam stad mitt i Östersjöns skärgård.
                Det är väldigt annorlunda här mot var jag är uppvuxen.
                I södra Dalarna finns mest stora skogar, ängar, berg, vattendrag och små insjöar. 
                Avesta, den lilla bruksorten där jag är uppvuxen bygger på industrin. En kartongfabrik och ett stålverk finns där,
                och har funnits sedan mycket långt tillbaka. Karlskrona å andra sidan är väldigt annorlunda, här finns mycket militär verksamhet
                samt ett rikt studentliv. Karlskrona skiljer sig mycket från vad jag är van vid, men det bästa med att flytta hit tycker jag är närheten till havet
                och att det är lite finare på sommaren. Det jag saknar mest med Avesta är dock de fina vintrarna där med skidåkning och massvis med snö.
            </p>
        </div>
    </div>
    
{% endblock %}