{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <h1>Lucky</h1>
    <p>Lucky number: <span class="lucky"> {{ number }}</span></p>
    <img src="{{ asset('img/cow.jpg') }}" alt="cow" class="image">
    <img src="{{ asset('img/milk.jpg') }}" alt="milk" class="image">
{% endblock %}