{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Redovisning</h1>
    <div class="report">
        <div class="nav">
            <ul>
                <li><a href="#kmom01">kmom01</a></li>
                <!--li><a href="#kmom02">kmom02</a></li>
                <li><a href="#kmom03">kmom03</a></li>
                <li><a href="#kmom04">kmom04</a></li>
                <li><a href="#kmom05">kmom05</a></li>
                <li><a href="#kmom06">kmom06</a></li>
                <li><a href="#kmom07/10">kmom07/10</a></li-->
            </ul>
        </div>
        <div class="text reporttext">
            <h2 id="kmom01">Kmom01</h2>
            <p>
                Kursmoment har verkligen varit en utmaning. Har startat om från scratch flera gånger men till slut har jag lyckats fått till en någorlunda me-sida.
                Mina förkunskaper kring objektorienterad programmering kommer från en C# kurs jag gick på gymnasiet och en C++ kurs jag gick tidigare på BTH.
                Det har hjälpt att förstå koncepten. Dock är PHP väldigt unikt, i jämförelse med C++ kan man inte bygga lika avancerade strukturer.
            </p>
            <p>
                I PHP skapas objekt via operatorn <i>new</i>. Konstruktorn i klassen ger objektet dess egenskaper.
                För att skapa sina egna klasser och objekt bör man ha koll på grundstrukturen av en klass och alla dess delar samt hur man hanterar objekt som skapas.
            </p>
            <p>
                Jag tycker kodstrukturen till <i>me/report</i> har varit krånglig att ta in och förstå till en början.
                Det är många tekniker som används: Symfony, Twig, Encore, Npm, HTML, CSS, JavaScript, PHP osv...
                För små projekt som detta kan det verka krångligt men jag kan ändå se potentialen för att bygga större projekt om man förstår sig på teknikerna bra.
                Används dessa tekniker till sin fulla potential tillsammans kan de vara bra verktyg.
            </p>
            <p>
                Jag har inte läst hela artikeln <i>PHP: The Right Way</i>, men det verkar vara en bra uppdaterad bibel med best practices och länkar rörande PHP.
                Artikeln tycker jag ger en bra förklaring och grund till de komponenter, bibliotek och paket som är vanliga inom PHP utveckling.
                Det jag gillar mest med artikeln är att den innehåller up to date länkar till det mesta man kan behöva veta för att komma igång med PHP.
                Något jag vill lära mig mer om och tycker är intressant är kapitel 16: <i>Documenting your Code</i>.
                Jag har aldrig riktigt läst på om hur man skriver ordentliga kommentarer i PHP vilket jag ska läsa på mer om.
            </p>
            <p>TIL för kmom01:</p>
            <ul>
                <li>Ibland är det bra att börja om när man fastnar, fortsätta så tills det fungerar.</li>
                <li>Det har varit svårt att komma igång med Symfony och Twig men bara man försöker om och om igen går det.</li>
                <li>Att sova på saken har hjälpt oerhört.</li>
            </ul>
            <!--h2 id="kmom02">Kmom02</h2>
            <p>
                Här kommer redovisningstexten för kmom02...
            </p>
            <h2 id="kmom03">Kmom03</h2>
            <p>
                Här kommer redovisningstexten för kmom03...
            </p>
            <h2 id="kmom04">Kmom04</h2>
            <p>
                Här kommer redovisningstexten för kmom04...
            </p>
            <h2 id="kmom05">Kmom05</h2>
            <p>
                Här kommer redovisningstexten för kmom05...
            </p>
            <h2 id="kmom06">Kmom06</h2>
            <p>
                Här kommer redovisningstexten för kmom06...
            </p>
            <h2 id="kmom07/10">Kmom07/10</h2>
            <p>
                Här kommer redovisningstexten för kmom07/10...
            </p-->
        </div>
    </div>
{% endblock %}